body {
    width: 800px;
    margin: 0 auto;   /*центрирую по горизонтали всё содержимое*/
    background-image: url(assets/images/bg.jpg);
    background-attachment: fixed;
}

.wrap {
    background-color: seashell;
    margin: 0;
    padding: 20px;
    box-shadow: 10px 0 50px 10px black;
}

.ava {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
   display: block;
   margin-bottom: 30px;
   width: 250px;
   height: 250px;
}

h1 {
    font-family: Roboto, sans-serif;
    text-shadow: 1px -1px 2px;
    color: navy;
    float: right;
    margin: 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

a:link, a:visited {
    color: navy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

section ul {
    list-style: none;
    margin: 0 40px;
    padding: 0;
}

.profile p {
    width: 680px;
    margin: auto;
    text-align: justify;
}

p, li {
    line-height: 1.5em;
    font-size: 1.2em;
    font-family: Roboto, sans-serif;
}

h3 {
    font-family: Roboto, sans-serif;
    display: block;
    background-color: rgb(228, 228, 228);
    border-bottom: 3px solid silver;
    margin-top: 40px;
}

aside>ul {
    list-style: none;
    margin: 0 40px;
    padding: 0%;
}

aside ul li {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    padding: 10px 0;
    text-shadow: 1px 1px 2px;
    color: navy;
}

aside ul li ul li {
    font-size: 14px;
    color: black;
}

.social-image {
    padding-right: 10px;
    width: 25px;
    height: 25px;
}

.section-image {
    padding-right: 15px;
    width: 25px;
    height: 25px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer-elements li {
    margin: 35px;
}

.rs {
    width: 60px;
}

.git {
    padding-right: 30px;
}

.year {
    font-weight: 700;
}